<div class="m-10">
  <h1 class="font-bold text-4xl"><%= t('dashboard.dashboard') %></h1>
</div>

<div class="flex flex-row flex-wrap">
  <div class="m-10">
    <div>
      <h2 class="font-bold text-2xl"><%= t('dashboard.users') %></h2>
      <p class="text-gray-500 text-4xl text-bold">
        <%= User.count %>
      </p>
    </div>
  </div>

  <div class="m-10">
    <div>
      <h2 class="font-bold text-2xl"><%= t('dashboard.profiles') %></h2>
      <p class="text-gray-500 text-4xl text-bold">
        <%= Profile.count %> <span class="text-gray-500 text-sm"></span>
      </p>
    </div>
  </div>

  <div class="m-10">
    <div>
      <h2 class="font-bold text-2xl"><%= t('dashboard.passes') %></h2>
      <p class="text-gray-500 text-4xl text-bold">
        <%= Assessment.where(kind: :liked).count %>
      </p>
    </div>
  </div>

  <div class="m-10">
    <div>
      <h2 class="font-bold text-2xl"><%= t('dashboard.likes') %></h2>
      <p class="text-gray-500 text-4xl text-bold">
        <%= Assessment.where(kind: :passed).count %>
      </p>
    </div>
  </div>

  <div class="m-10">
    <div>
      <h2 class="font-bold text-2xl"><%= t('dashboard.rooms') %></h2>
      <p class="text-gray-500 text-4xl text-bold">
        <%= Room.count %>
      </p>
    </div>
  </div>

  <div class="m-10">
    <div>
      <h2 class="font-bold text-2xl"><%= t('dashboard.messages') %></h2>
      <p class="text-gray-500 text-4xl text-bold">
        <%= Message.count %>
      </p>
    </div>
  </div>
</div>

<div class="flex flex-row flex-wrap">
  <% profile_percentages(Profile.all).each do |gender, percentage| %>
    <div class="m-10">
      <div>
        <h2 class="font-bold text-2xl"><%= gender %></h2>
        <p class="text-gray-500 text-4xl text-bold">
          <%= (percentage * 100).to_i %>%
        </p>
      </div>
    </div>
  <% end %>
</div>
