<div id="<%= dom_id message  %>" class="flex block w-full block <%= current_user == message.user ? "bg-blue-300 rounded-l-xl rounded-tr-xl flex-row-reverse" : "bg-gray-300 rounded-r-xl rounded-tl-xl " %> mb-2 p-2" data-owner="<%= message.user %>">
  <div class="mx-2 shrink-0">
    <%= image_tag(message.user.profile.images.first.photo.variant(:thumb), class: "w-10 h-10 border-2 rounded-full", alt: message.user.profile.display_name) %>
  </div>
  <div title="<%= message.created_at %>" class="place-self-center <%= current_user == message.user ? 'ml-4' : 'mr-4' %>">

    <%= message.body %>
  </div>
</div>
