<div
  id="<%= dom_id message  %>"
  class="flex p-3 mx-2 leading-loose"
  data-user-id="<%= message.user.id %>"
  data-message-id="<%= message.id %>"
  data-readable-url="<%= reads_url %>"
  data-readable-readers="<%= message.readers.map(&:id).join(',') %>"
  data-controller="message readable"
  data-repress-scroll="<%= repress_scroll %>"
>
  <%= raw message.body.gsub(/\n/, '<br>') %>
</div>
