<div class="my-5 inline-flex" role="group">
    <% unless profile.born.blank? %>
        <div class="py-3 px-4 mx-2 text-xs font-medium text-gray-900 rounded-full border border-gray-200 bg-gray-100">
            ⏳ <%= "#{age(profile.born)}yo" %>
        </div>
    <% end %>

    <% unless profile.gender.blank? %>
        <div class="py-3 px-4 mx-2 text-xs font-medium text-gray-900 rounded-full border border-gray-200 bg-gray-100">
            ☿️ <%= profile.gender.label %>
        </div>
    <% end %>

    <% if profile.show_orientation? %>
        <div class="py-3 px-4 mx-2 text-xs font-medium text-gray-900 rounded-full border border-gray-200 bg-gray-100">
           ❤️ <%= profile.genders.map { |g| g.label.pluralize }.to_sentence %>
        </div>
    <% end %>

    <% unless profile.height.nil? %>
        <div class="py-3 px-4 mx-2 text-xs font-medium text-gray-900 rounded-full border border-gray-200 bg-gray-100">
            📏 <%= imperialize(profile.height) %>
        </div>
    <% end %>

    <% unless profile.children.blank? %>
        <div class="py-3 px-4 mx-2 text-xs font-medium text-gray-900 rounded-full border border-gray-200 bg-gray-100">
            🧒 <%= profile.children %>
        </div>
    <% end %>

    <% if profile.relationship_style != nil &&  profile.relationship_style != "I would rather not say" %>
        <div class="py-3 px-4 mx-2 text-xs font-medium text-gray-900 rounded-full border border-gray-200 bg-gray-100">
            💕 <%= profile.relationship_style %>
        </div>
    <% end %>

    <% unless profile.city.blank? %>
        <div class="py-3 px-4 mx-2 text-xs font-medium text-gray-900 rounded-full border border-gray-200 bg-gray-100">
            📍<%= profile.city %>
        </div>
    <% end %>
</div>
