<div class="my-5 inline-flex" role="group">
    <div class="py-3 px-4 mx-2 text-xs font-medium text-gray-900 rounded-full border border-gray-200 bg-gray-100">
        <%= age(profile.born) %> years old
    </div>
    <div class="py-3 px-4 mx-2 text-xs font-medium text-gray-900 rounded-full border border-gray-200 bg-gray-100">
        <%= profile.gender %>
    </div>
    <div class="py-3 px-4 mx-2 text-xs font-medium text-gray-900 rounded-full border border-gray-200 bg-gray-100">
        <%= imperialize(profile.height) %>
    </div>
    <div class="py-3 px-4 mx-2 text-xs font-medium text-gray-900 rounded-full border border-gray-200 bg-gray-100">
        <%= profile.children %>
    </div>
    <div class="py-3 px-4 mx-2 text-xs font-medium text-gray-900 rounded-full border border-gray-200 bg-gray-100">
        <%= profile.relationship_style %>
    </div>
    <div class="py-3 px-4 mx-2 text-xs font-medium text-gray-900 rounded-full border border-gray-200 bg-gray-100">
        <%= profile.city %>
    </div>
</div>
