<%= form_with(model: profile) do |form| %>
  <%= render 'shared/form_errors_notice', record: @profile %>

  <%= render 'profiles/form_section_1', form: form %>
  <%= render 'profiles/form_section_2', form: form %>
  <%= render 'profiles/form_section_3', form: form %>

  <div class="flex justify-between h-48">
    <div class="w-32 h-32 py-5 px-5 hotwire-native:hidden">
      <%= link_to 'Cancel', :back %>
    </div>
    <div>
      <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer hotwire-native:hidden", data: {
        controller: "bridge--button",
        bridge_position: "right",
        bridge_title: "Save",
        bridge_vibrate: false
      } %>
    </div>
  </div>
<% end %>
