<div data-controller="<%= previewing?(profile) ? "" : "swiper" %> bridge--vibrator" class="h-dvh py-4">
  <div class="flex flex-col items-center justify-center relative rounded" data-swiper-target="images">

      <div class="border border-blue-300 w-96 h-96 relative my-auto object-cover rounded light:bg-white dark:bg-black" data-controller="gallery">
        <% profile.images.each_with_index do |image| %>
          <%= image_tag image.photo, loading: "lazy", class: "object-cover h-full w-full absolute top-0 light:bg-white dark:bg-black rounded", style: "touch-action: manipulation;"  %>
        <% end %>
      </div>

      <div class="text-xl font-bold">
        <%= profile.display_name %>
      </div>
      <div class="flex flex-row text-sm">
        <%= "#{age(profile.born_on)}yo" unless profile.born_on.blank? %> • <%= profile.city %>
      </div>
      <div class="grow my-4">
        <%= render partial: "profiles/details", locals: { profile: profile } %>
      </div>
  </div>

  <% if previewing?(profile) %>
    <div data-controller="bridge--menu" class="hotwire-native:hidden">
      <%= link_to "Edit Profile", edit_profile_path(profile),
        class: "m-4 bg-green-400 text-white py-2 px-4 rounded-full",
        data: {
          bridge__menu_target: "item",
          bridge_title: "Edit Profile",
          bridge_ios_image: "square.and.pencil"
        }
      %>

      <%= link_to "Edit Photos", profile_images_path(profile),
        class: "",
        data: {
          bridge__menu_target: "item",
          bridge_title: "Edit Photos",
          bridge_ios_image: "photo.stack"
        }
      %>
    </div>
  <% else %>
    <div class="flex flex-row mx-auto fixed bottom-0 w-full justify-center">
      <%= button_to 'Pass', profile_passes_path(profile_id: profile.id), method: :post, class: "m-4 bg-red-500 text-white py-2 px-4 rounded-full", data: { 'swiper-target': "passButton" } %>
      <%= button_to 'Like', profile_likes_path(profile_id: profile.id), method: :post, class: "m-4 bg-blue-500 text-white py-2 px-4 rounded-full", data: { 'swiper-target': "likeButton" } %>
    </div>
  <% end %>
</div>
