<div class="w-full">
  <% if current_user.profile.nil? %>
    <div class="flex justify-between items-center">
      <h1 class="font-bold text-4xl">Profiles</h1>
      <%= link_to 'Create my profile', new_profile_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    </div>
  <% end %>

  <section id="profiles" class="bg-white dark:bg-gray-900">
    <div class="grid grid-cols-3">
      <% @profiles.each do |profile| %>
        <div class="gap-4 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
          <div class="text-center text-gray-500 dark:text-gray-400 mb-6">
            <%= link_to image_tag(profile.images.first, class: "mx-auto w-20 h-20 rounded-full", alt: profile.display_name), profile %>
              <h3 class="mb-1 font-bold tracking-tight text-gray-900 dark:text-white">
                <%= link_to profile.display_name, profile %>
              </h3>
              <p class="text-sm">
                <%= age(profile.born) %> years old <%= profile.gender %>
              </p>
          </div>
        </div>
    <% end %>
  </section>
</div>
