<div id="<%= dom_id @profile %>" class="mx-auto w-full py-10">
  <h1><%= @profile.display_name %></h1>

  <%= render "details", profile: @profile %>

  <p class="my-5">
    <%= @profile.body %>
  </p>

  <p class="my-5">
    <%= render "pics", profile: @profile %>
  </p>

  <%= link_to 'Edit this profile', edit_profile_path(@profile), class: "rounded-lg py-2 ml-2 px-2 text-slate-700 bg-blue-200 inline-block font-medium text-sm" %>
</div>
