<% content_for(:title, "Sign In") %>

<div class="flex justify-center py-4">
  <img src="/fresh_dating_logo.png" class="size-10" alt="Fresh Dating Logo" />
  <h1 id="title" title="Fresh.Dating" class="flex items-center">Fresh.Dating</h1>
</div>

<h1 class="font-bold text-3xl p-4 hotwire-native:hidden" data-controller="bridge--title" data-bridge-text="Sign in">Sign in</h1>

<%= form_with url: session_path, method: :post, html: { class: "p-4" } do |form| %>
  <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "block shadow rounded-md border border-gray-400 text-black outline-none px-3 py-2 my-4 w-full" %>

  <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", class: "block shadow rounded-md border border-gray-400 text-black outline-none px-3 py-2 my-4 w-full" %>

  <%= form.submit "Sign in", class: "rounded-lg py-3 px-5 my-4 bg-blue-600 text-white inline-block font-medium cursor-pointer w-full", data: {
    controller: "bridge--button",
    bridge_title: "Sign in",
    bridge_position: "right"
  } %>

  <div class="my-4 text-sm text-gray-500 hotwire-native:hidden">
    <%= link_to "Forgot password?", new_password_path, class: "text-gray-700 underline" %>
  </div>

  <div class="my-4 w-full text-center text-slate-600">
    or
  </div>

  <%= link_to "Create an account instead", new_user_path, class: "rounded-lg py-3 px-5 my-4 bg-white border border-blue-600 text-blue-600 inline-block font-medium cursor-pointer w-full text-center", data: { "turbo-frame": "user_form" } %>
<% end %>
