<% if hotwire_native? %>
  <% content_for(:title, "Sign In") %>

  <div class="flex justify-center py-4">
    <h1 id="title" title="Fresh.Dating"><span class="text-md">❤</span><span class="text-md md:text-3xl">Fresh.Dating</span></h1>
  </div>
<% end %>

<h1 class="font-bold text-4xl p-4 hotwire-native:hidden" data-controller="bridge--title" data-bridge-text="Sign in">Sign in</h1>

<%= form_with url: session_url, class: "p-4" do |form| %>
  <div class="my-5">
    <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-4">
    <%= form.submit "Sign in", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer w-full", data: {
      controller: "bridge--button",
      bridge_title: "Sign in",
      bridge_position: "right"
    } %>
  </div>

  <div class="mt-0 text-sm text-gray-500 sm:mt-0 hotwire-native:hidden">
    <%= link_to "Forgot password?", new_password_path, class: "text-gray-700 underline" %>
  </div>

  <div class="my-4 w-full text-center text-slate-600">
    or
  </div>

  <div class="mb-4">
    <%= link_to "Create an account instead", new_user_path, class: "rounded-lg py-3 px-5 bg-white border border-blue-600 text-blue-600 inline-block font-medium cursor-pointer w-full text-center", data: { "turbo-frame": "user_form" } %>
  </div>
<% end %>
