<%= turbo_frame_tag 'recommended_profile' do %>


  <div class="mx-2" style="">
    <% if @profile %>

      <div style="opacity: 0; transition: opacity 1s;" data-controller="entrance">
        <div class="mx-auto text-center shadow rounded-lg bg-white mx-4 my-0 md:my-6 overflow-clip">

          <div class="flex flex-col md:flex-row m-4 text-sm font-medium text-gray-500 rounded-lg">

            <div class="flex flex-col m-4 order-last md:order-first">
              <div class="text-3xl font-bold text-slate-600 text-left">
                <%= @profile.display_name %>
              </div>

              <div class="text-left">
                <svg class="w-4 h-4 inline mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg><%= age(@profile.born_on) %>yo

                <svg class="w-4 h-4 inline mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path></svg><%= @profile.location %>
              </div>

              <% if @group %>
                <div class="flex">
                  <div class="bg-black text-white text-xs mt-1 py-1 px-2 bg-yellow-300 bg-opacity-80 shadow text-slate-700 rounded-full">
                    <svg class="w-6 h-6 inline" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                    <%= t('member_in_group', group_name: @group.name) %>
                  </div>
                </div>
              <% end %>

            </div>

            <div class="order-first md:order-last flex flex-col md:flex-row justify-center">

            </div>

          </div>

        </div>

        <div class="mx-auto mx-4 my-3 md:my-6">
          <div class="mx-0 w-full px-10 py-3">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-2 flex justify-center">
              <% @profile.images.each_with_index do |image, index| %>
                <% if image.photo.attached? && image.photo.variable? %>
                  <%= image_tag image.photo.variant(:medium), class: "rounded-lg shadow bg-white cursor-zoom-in", index: index  %>
                <% else %>
                  <%= image_tag image.photo, class: "rounded-lg shadow bg-white cursor-zoom-in", index: index  %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="mx-auto mx-4 my-3 md:my-6 overflow-clip flex flex-col sm:flex-row gap-4">

          <div class="md:flex md:flex-col mx-auto w-full md:w-9/12">
            <% if @profile.cards.any? %>
              <%= render 'cards' %>
            <% else %>
              <div class="text-center">
                <div class="text-2xl font-bold text-slate-600">
                  <%= t('profiles.no_cards') %>
                </div>
              </div>
            <% end %>
          </div>

          <div class="order-first sm:order-last mx-0 sm:mx-2 w-full md:w-3/12">

            <div class="block max-w bg-white border-gray-200 rounded-b-md shadow-md">
              <div class="flex border rounded-t-md pl-4 bg-black text-lg leading-8 font-semibold text-white dark:text-white leading-10">
                <div class="grow text-lg leading-8 font-semibold text-white dark:text-white leading-10">
                  Details
                </div>
              </div>

              <div class="p-4">
                <%= render "profiles/details", profile: @profile %>
              </div>
            </div>

          </div>
        </div>
      </div>

      <%= render "profiles/carousel" %>

      <div class="flex flex-row justify-between space-x-4">
        <%= form_with url: pass_recommendation_path(@profile), method: :post, local: true, class: 'w-full' do |form| %>
          <%= form.submit 'Pass', class: 'inline-flex grow-3 items-center justify-center w-full px-4 py-2.5 text-xl font-medium text-center text-red-500 bg-white border border-red-500 rounded-xl hover:bg-red-100 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900', data: {
            controller: "bridge--button",
            bridge_title: "Pass",
            bridge_position: "left",
            bridge_vibrate: true
          } %>
        <% end %>

        <div class="grow-1"></div>

        <%= form_with url: like_recommendation_path(@profile), method: :post, local: true, class: "w-full" do |form| %>
          <%= form.submit 'Like', class: 'inline-flex grow-3 w-full items-center justify-center px-4 py-2.5 text-xl font-medium text-center text-white bg-green-500 rounded-lg hover:bg-green-600 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900', data: {
            controller: "bridge--button",
            bridge_title: "Like",
            bridge_position: "right",
            bridge_vibrate: true
          } %>
        <% end %>
      </div>
    <% else %>

      <div class="flex flex-col items-center justify-center h-screen mx-2 md:mx-auto max-w-prose">
        <div class="text-sm md:text-2xl text-gray-500 text-center">
          No profile to recommend right this moment but more people are joining every day.
        </div>

        <div class="bg-white rounded-lg shadow-md border p-4 m-4"><%= render "settings/invite" %></div>

        <div>Or</div>

        <%= link_to passed_profiles_path, class: "flex flex-row items-center p-4 m-4 border rounded-lg shadow-md bg-white hover:bg-gray-100 hover:border-gray-600 " do %>
          <div><svg class="w-4 h-4 md:w-8 md:h-8 inline" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3"></path></svg></div>
          <div><span class="ml-2 text-sm md:text-base">Review profiles you passed.</span></div>
        <% end %>

      </div>

    <% end %>

  </div>
<% end %>
