<div id="<%= dom_id(group) %>">
  <%= link_to group, class: "block border bg-white dark:bg-gray-900 rounded-lg shadow-lg p-4 mb-4 hover:bg-gray-100" do %>
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <div class="ml-4">
          <div class="text-lg leading-5 font-medium text-gray-900 dark:text-white">
            <%= group.name %>
          </div>
          <div class="text-sm leading-5 text-gray-500 dark:text-gray-400">
            <%= group.description %>
          </div>
        </div>
      </div>
      <div class="flex items-center">
        <div class="ml-4">
          <div class="text-sm leading-5 text-gray-500 dark:text-gray-400">
            <%= group.memberships.count %> members
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
