<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% if user_signed_in? && current_user.groups.any? %>

    <div id="groups" class="m-10">
      <h2 class="text-2xl font-bold mb-4">Your groups</h2>

      <% @groups.each do |group| %>
        <%= link_to group, class: "block border bg-white dark:bg-gray-900 rounded-lg shadow-lg p-4 mb-4 hover:bg-gray-100" do %>
          <div class="flex justify-between items-center">
            <div class="flex items-center">
              <div class="ml-4">
                <div class="text-lg leading-5 font-medium text-gray-900 dark:text-white">
                  <%= group.name %>
                </div>
                <div class="text-sm leading-5 text-gray-500 dark:text-gray-400">
                  <%= group.description %>
                </div>
              </div>
            </div>
            <div class="flex items-center">
              <div class="ml-4">
                <div class="text-sm leading-5 text-gray-500 dark:text-gray-400">
                  <%= group.members.count %> members
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  <% else %>
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
            <div class="max-w-screen-md">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"><%= t(:groups_cta_title) %></h2>
                <p class="mb-8 font-light text-gray-500 sm:text-xl dark:text-gray-400">
                  <%= t(:groups_cta_description) %>
                </p>
                <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
                    <%= link_to new_group_path, class: "inline-flex items-center justify-center px-4 py-2.5 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900" do %>
                        <svg class="mr-2 -ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                        Create your first group
                    <% end %>
                </div>
            </div>
        </div>
    </section>
  <% end %>
</div>
