<%= link_to "/recede_historical_location", "/recede_historical_location", class: "hidden", data: {
  controller: "bridge--button",
  bridge_position: "right",
  bridge_title: "Done",
  bridge_vibrate: true
} %>

<%= form_with model: Current.user, url: user_path(Current.user), method: :patch, local: true, html: { id: "language-form" } do |f| %>
  <div class="mb-6 md:mx-4">
    <%= f.label :preferred_language, t("profile_details.preferred_language"), class: "block text-sm font-medium text-gray-700 mb-2" %>
    <%= f.select :preferred_language, I18n.available_locales.map { |locale| [t("languages.#{locale.to_s}"), locale] }, { selected: Current.user.preferred_language}, class: "block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500", onchange: "document.getElementById('language-form').submit();" %>
  </div>
<% end %>


<div class="md:mx-4 mt-12 p-6 bg-red-50 border border-red-200 rounded-lg flex flex-col items-center">
  <h2 class="text-xl font-bold text-red-700 mb-2"><%= t("delete_account.delete_account_title") %></h2>
  <p class="mb-4 text-red-600"><%= t("delete_account.account_delete_info") %></p>
  <%= form_with url: user_path(Current.user), method: :delete, local: true, data: { confirm: t("delete_account.are_you_sure_delete") } do |f| %>
    <%= f.submit t("delete_account.delete_account_cta"), class: "mt-2 w-full py-2 px-4 bg-red-600 text-white font-bold rounded hover:bg-red-700 cursor-pointer" %>
  <% end %>
</div>

<div class="md:mx-4 mt-8 text-gray-600 text-sm">
  <p>
    <%= t("account.terms_blurb", terms_link: link_to(t("account.terms_of_service"), legal_terms_path, class: "text-indigo-600 underline")).html_safe %>
  </p>
</div>
