<%
active_tab_classes = "inline-block p-2 md:p-4 text-blue-600 rounded-t-lg border-b-2 border-blue-600 active dark:text-blue-500 dark:border-blue-500 whitespace-nowrap"
inactive_tab_classes = "inline-block p-2 md:p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-100 hover:border-gray-300 dark:hover:text-gray-300 whitespace-nowrap"
%>
<div class="text-xs sm:text-md md:text-lg font-medium text-center text-gray-300 bg-black w-full">
    <div class="flex flex-wrap justify-between items-center w-full">
        <div class="flex my-2 mx-4">
            <%= link_to root_url do %>
              <h1 id="title" title="Fresh.Dating"><span class="text-md md:text-3xl">❤</span><span class="text-md md:text-3xl hidden md:inline">Fresh.Dating</span></h1>
            <% end %>
        </div>
        <ul class="flex md:order-1">
            <% if %w[profiles images groups rooms].include? controller_name %>
                <li class="mr-2">
                  <%= link_to profiles_path, class: (action_name == 'index' && controller_name == 'profiles' && params[:group_id].nil? ? active_tab_classes : inactive_tab_classes) do %>
                    <span title="Discover" class="whitespace-nowrap"><svg class="w-6 h-6 inline" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 9a2 2 0 114 0 2 2 0 01-4 0z"></path><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a4 4 0 00-3.446 6.032l-2.261 2.26a1 1 0 101.414 1.415l2.261-2.261A4 4 0 1011 5z" clip-rule="evenodd"></path></svg> <span class="hidden lg:inline">Discover</span></span>
                  <% end %>
                </li>
                <% if user_signed_in? && current_user.profile.present? && current_user.profile.groups.any? %>
                  <li>
                    <%= link_to groups_path, class: (controller_name == 'groups' || params[:group_id].present? ? active_tab_classes : inactive_tab_classes) do %>
                      <span title="Groups" class="whitespace-nowrap"><svg class="w-6 h-6 inline" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z"></path></svg> <span class="hidden lg:inline">Groups</span></span>
                    <% end %>
                  </li>
                <% end %>
                <li class="mr-2">
                  <%= link_to current_user.profile, class: (@profile == current_user.profile && action_name == 'show' ? active_tab_classes : inactive_tab_classes) do %>
                    <span title="My Profile" class="whitespace-nowrap"><svg class="w-6 h-6 inline" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg><span class="hidden lg:inline"> My profile</span>
                  <% end %>
                </li>
                <% if current_user.profile %>
                  <li class="mr-2">
                    <%= link_to profile_images_path(current_user.profile), class: (action_name == 'index' && controller_name == "images" ? active_tab_classes : inactive_tab_classes) do %>
                      <span title="My photos" class="whitespace-nowrap"><svg class="w-6 h-6 inline" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z" clip-rule="evenodd"></path></svg><span class="hidden lg:inline"> My photos</span>
                    <% end %>
                  </li>
              <% end %>
            <% end %>
        </ul>
        <% if user_signed_in? %>
            <ul class="flex justify-self-end flex order-2">
                <% if current_user&.profile&.rooms&.any?%>
                  <li class="mx-4">
                    <%= link_to rooms_path, class: "relative inline-flex #{controller_name == 'rooms' ? 'text-blue-600 border-b-2 border-blue-600 p-2' : 'p-2'}" do %>
                      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z" clip-rule="evenodd"></path></svg>
                      <div id="unread_badge" class="<%= Message.unread_by(current_user).any? ? 'inline-flex' : 'hidden' %> absolute items-center justify-center text-xxs w-2 h-2 bg-blue-500 rounded-full top-2 right-1 dark:border-gray-900" title=""></div>
                    <% end %>
                  </li>
                <% end %>
                <li class="mr-2" data-controller="dropdown">
                    <div class="trigger p-2">
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <div class="target hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                        <ul class="py-1 text-sm font-light text-gray-700 dark:text-gray-200">
                          <li class="whitespace-nowrap">
                            <%= link_to settings_path, class: "block flex py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" do %>
                              <div class="grow">
                                Settings
                              </div>
                              <div class="px-2">
                                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z"></path></svg>
                              </div>
                            <% end %>
                          </li>
                          <li class="whitespace-nowrap">
                            <%= link_to(destroy_user_session_path, class: "block flex py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to sign out?" }) do %>
                              <div class="grow">
                                  Sign out
                              </div>
                              <div class="px-2">
                                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z" clip-rule="evenodd"></path></svg>
                              </div>

                            <% end %>
                          </li>
                        </ul>
                    </div>
                </li>
            </ul>
        <% end %>
    </div>
</div>

