<%
active_tab_classes = "inline-block p-4 text-blue-600 rounded-t-lg border-b-2 border-blue-600 active dark:text-blue-500 dark:border-blue-500"
inactive_tab_classes = "inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
%>

<div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700 mt-4">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
        <div class="flex">
            <h1 id="title">❤Fresh.Dating</h1>
        </div>
        <ul class="flex md:order-1">
            <% if %w[profiles images settings].include? controller_name %>
                <li class="mr-2">
                    <%= link_to "Discover", profiles_path, class: (["index", "show"].include?(action_name) && controller_name == "profiles" && current_user.profile != @profile ? active_tab_classes : inactive_tab_classes) %>
                </li>
                <li class="mr-2">
                    <%= link_to "My profile", current_user.profile, class: (@profile == current_user.profile && action_name == 'show' ? active_tab_classes : inactive_tab_classes) %>
                </li>
                <li class="mr-2">
                    <%= link_to "Edit my profile", edit_profile_path(current_user.profile), class: (action_name == 'edit' ? active_tab_classes : inactive_tab_classes) %>
                </li>
                <li class="mr-2">
                    <%= link_to "My photos", profile_images_path(current_user.profile), class: (action_name == 'index' && controller_name == "images" ? active_tab_classes : inactive_tab_classes) %>
                </li>
            <% end %>
        </ul>
        <% if user_signed_in? %>
            <ul class="flex justify-between md:flex md:order-2">
                <li class="mr-2" data-controller="dropdown">
                    <div class="trigger">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path></svg>
                    </div>
                    <div class="target hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                        <ul class="py-1 text-sm text-gray-700 dark:text-gray-200">
                            <li>
                                <%= link_to "Settings", edit_user_path(current_user), class: "block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
                            </li>
                            <li>
                            </li>
                        </ul>
                        <div class="py-1">
                            <%= link_to("Sign out", destroy_user_session_path, class: "block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to sign out?" }) %>
                        </div>
                    </div>
                </li>
            </ul>
        <% end %>
    </div>
</div>

