<% if controller_name == "rooms" && action_name == "show" %>
  <%= render "rooms/header" %>
<% else %>
  <% unless hotwire_native? %>
    <%
    active_tab_classes = "inline-block p-2 md:p-4 text-blue-600 rounded-t-lg border-b-2 border-blue-600 active dark:text-blue-500 dark:border-blue-500 whitespace-nowrap"
    inactive_tab_classes = "inline-block p-2 md:p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-100 hover:border-gray-300 dark:hover:text-gray-300 whitespace-nowrap"
    %>
    <div class="text-xs sm:text-md md:text-lg font-medium text-center text-gray-300 bg-black w-full">
        <div class="flex flex-wrap justify-between items-center w-full">
            <div class="flex my-2 mx-1 md:mx-4">
                <%= link_to root_url do %>
                  <h1 id="title" title="Fresh.Dating"><span class="text-md md:text-3xl">❤</span><span class="text-md md:text-3xl hidden md:inline">Fresh.Dating</span></h1>
                <% end %>
            </div>
            <ul class="flex md:order-1">
                <% if %w[profile profiles images rooms].include? controller_name %>
                    <li class="">
                      <%= link_to profiles_path, class: (%w(index passed).include?(action_name) && controller_name == 'profiles' ? active_tab_classes : inactive_tab_classes) do %>
                        <span title="Discover" class="whitespace-nowrap"><svg class="w-6 h-6 inline" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 9a2 2 0 114 0 2 2 0 01-4 0z"></path><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a4 4 0 00-3.446 6.032l-2.261 2.26a1 1 0 101.414 1.415l2.261-2.261A4 4 0 1011 5z" clip-rule="evenodd"></path></svg> <span class="hidden lg:inline">Discover</span></span>
                      <% end %>
                    </li>
                    <li class="">
                      <%= link_to Current.user.profile, class: (@profile == Current.user.profile && action_name == 'show' ? active_tab_classes : inactive_tab_classes) do %>
                        <span title="My Profile" class="whitespace-nowrap"><svg class="w-6 h-6 inline" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg><span class="hidden lg:inline"> My profile</span>
                      <% end %>
                    </li>
                <% end %>
            </ul>
            <% if authenticated? %>
                <ul class="flex justify-self-end order-2">
                    <% if Current.user&.profile&.rooms&.any?%>
                      <li class="md:mx-4">
                        <%= link_to rooms_path, class: "relative inline-flex #{controller_name == 'rooms' ? 'text-blue-600 border-b-2 border-blue-600 p-2' : 'p-2'}" do %>
                          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z" clip-rule="evenodd"></path></svg>
                          <div id="unread_badge" class="<%= Message.unread_by(Current.user).any? ? 'inline-flex' : 'hidden' %> absolute items-center justify-center text-xxs w-2 h-2 bg-blue-500 rounded-full top-2 right-1 dark:border-gray-900" title=""></div>
                        <% end %>
                      </li>
                    <% end %>
                    <li class="mr-2" data-controller="dropdown">
                        <div class="trigger p-2">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                            </svg>
                        </div>
                        <div class="target hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                            <ul class="py-1 text-sm text-gray-700 dark:text-gray-200">
                              <% if Current.user.admin? %>
                                <li class="whitespace-nowrap">
                                  <%= link_to admin_profiles_path, class: "block flex px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600" do %>
                                    <div class="grow">
                                      Profiles
                                    </div>
                                    <div class="px-2">
                                      <svg class="w-5 h-5" fill="currentColor" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"></path>
                                      </svg>
                                    </div>
                                  <% end %>
                                </li>
                              <% end %>
                              <li class="whitespace-nowrap">
                                <%= link_to settings_path, class: "block flex py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" do %>
                                  <div class="grow">
                                    Settings
                                  </div>
                                  <div class="px-2">
                                    <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 13.5V3.75m0 9.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 9.75V10.5"></path>
                                    </svg>
                                  </div>
                                <% end %>
                              </li>
                              <li class="whitespace-nowrap">
                                <%= link_to(session_path, class: "block flex py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to sign out?" }) do %>
                                  <div class="grow">
                                    Sign out
                                  </div>
                                  <div class="px-2">
                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z" clip-rule="evenodd"></path></svg>
                                  </div>

                                <% end %>
                              </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            <% end %>
        </div>
    </div>
  <% end %>
<% end %>
