<div id="<%= dom_id event %>" class="my-10">
  <div class="flex flex-col md:flex-row bg-black rounded-lg p-4">
    <div class="bg-white p-2 mx-auto">
      <%=  raw RQRCode::QRCode.new(event_url(@event)).as_svg module_size: 11, color: "white" %>
    </div>
    <div class="p-6 flex flex-col text-white text-center">
      <div class="flex-none shrink text-3xl font-bold text-center">
        <%= event.name %>
      </div>
      <div class="flex flex-col justify-center grow text-center mt-10">
        <div><%= time_tag event.start_time %></div>
        <div>-</div>
        <div><%= time_tag event.end_time %></div>
      </div>
    </div>
  </div>
</div>
