<%= form_with(model: event, class: "contents", data: { controller: 'event-form' }) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5 flex items-center flex-col lg:flex-row text-xs lg:text-base" data-event-form-target="start">
    <div class="w-20"><%= form.label :start_time %></div>
    <div><%= form.datetime_select :start_time, use_short_month: true, start_year: Time.now.year, end_year: Time.now.year + 10, with_css_classes: { year: "text-xs lg:text-base", month: "text-xs lg:text-base", day: "text-xs lg:text-base", hour: "text-xs lg:text-base", minute: "text-xs lg:text-base" } %></div>
  </div>

  <div class="my-5 flex items-center flex-col lg:flex-row text-xs lg:text-base" data-event-form-target="end">
    <div class="w-20"><%= form.label :end_time %></div>
    <div><%= form.datetime_select :end_time, use_short_month: true, start_year: Time.now.year, end_year: Time.now.year + 10, with_css_classes: { year: "text-xs lg:text-base", month: "text-xs lg:text-base", day: "text-xs lg:text-base", hour: "text-xs lg:text-base", minute: "text-xs lg:text-base" } %></div>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
