<h2 class="text-2xl font-normal m-4 mt-8"><%= t('events.nearby_events_long') %></h2>

<div class="min-w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  <% events.each do |event| %>
    <%= link_to event, id: dom_id(event), class: "p-4", data: { turbo_frame: "_top" } do %>
      <div class="rounded">

        <p class="font-bold"><%= event.name %> @ <%= event.location %></p>
        <p class="text-sm"><%= event_time_range(event) %></p>
        <p class="text-xs"><%= t('events.organized_by') %> <%= event.creator.profile.display_name %></p>

        <p class="mt-2"><%= event.description %></p>



        <div class="auto-rows-auto gap-2 mt-2">
          <% event.attendances.each do |attendance| %>
            <% if attendance.user.profile.images.first.photo.attached? %>
              <%= image_tag attendance.user.profile.images.first.photo.variant(resize_to_fill: [24, 24]), alt: attendance.user.profile.display_name, class: "inline-block rounded-full size-6 mr-2 border border-slate-400" %>
            <% end %>
          <% end %>
        </div>

      </div>
    <% end %>
  <% end %>
</div>
