<% content_for :title, "Events" %>


<%= turbo_frame_tag "events" do %>
  <div class="flex gap-4 m-4 justify-between items-center">
    <div class="flex gap-4">
      <%= link_to t('events.nearby_events'),
          events_path(tab: "nearby"),
          data: { turbo_action: "replace" },
          class: "px-3 py-2 rounded-xl #{params[:tab] != 'mine' ? 'bg-blue-300 text-slate-600' : 'bg-slate-200 text-slate-700'}" %>

      <%= link_to t('events.my_events'),
          events_path(tab: "mine"),
          data: { turbo_action: "replace" },
          class: "px-3 py-2 rounded-xl #{params[:tab] == 'mine' ? 'bg-blue-300 text-slate-600' : 'bg-slate-200 text-slate-700'}" %>
    </div>

    <div class="text-slate-400 hover:text-slate-600 mr-4 hotwire-native:hidden flex justify-end">
      <%= link_to new_event_path, class: "rounded-lg ml-4 block font-medium flex flex-row", data: {
            turbo: false,
            controller: "bridge--button",
            bridge_position: "right",
            bridge_title: t('events.new'),
            bridge_ios_image: "calendar.badge.plus",
            bridge_vibrate: true
          } do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8"><path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" /><line x1="12" y1="12" x2="12" y2="16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" /><line x1="10" y1="14" x2="14" y2="14" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" /></svg>

        <% if Current.user.events.any? %>
          <span class="ml-2 mt-1 hidden md:inline"><%= t('events.create_new') %></span>
        <% else %>
          <span class="ml-2 mt-1 hidden md:block"><%= t('events.create_first') %></span>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if params[:tab] == "mine" %>
    <%= render partial: "events/mine" %>
  <% else %>
    <%= render partial: "events/nearby", locals: { events: @events } %>
  <% end %>
<% end %>
