<div class="mx-auto md:w-2/3 mt-4 md:mt-8 w-full flex">
  <div class="mx-auto">
  <div class="flex flex-col">
    <h2 class="text-2xl font-bold"><%= @event.name %></h2>
    <p class="text-lg"><%= @event.location %></p>
    <p class="text-lg"><%= @event.description %></p>

    <p><%= event_time_range(@event) %></p>

    <p>
      <%= @event.attendances.count %> attending.
    </p>

    <div class="flex flex-col justify-center ">
      <% if authenticated? && attendance = @event.attendances.find_by(user: Current.user) %>

        <div class="flex flex-col gap-2 my-4">
          <%= link_to google_calendar_url(@event),
            method: :get,
            target: "_blank",
            class: "rounded-full text-xl py-2 px-3 bg-slate-100 dark:bg-slate-500 text-slate-500 dark:text-slate-100" do
          %>
            <div class="flex flex-row gap-2 w-full">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 md:size-8"><path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" /><text x="12" y="15" text-anchor="middle" dominant-baseline="central" font-size="9" stroke-width="1" fill="currentColor" font-family="Arial, sans-serif" font-weight="100">G</text></svg>
              <span><%= t("events.attendances.calendar.google_cta") %></span>
            </div>
          <% end %>

          <%= link_to  calendar_event_path(@event, format: :ics), class: "rounded-full text-xl py-2 px-3 bg-slate-100 dark:bg-slate-500 text-slate-500 dark:text-slate-100" do %>
            <div class="flex flex-row gap-2 w-full">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 md:size-8"><path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" /><line x1="12" y1="12" x2="12" y2="16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" /><line x1="10" y1="14" x2="14" y2="14" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" /></svg>
              <span><%= t("events.attendances.calendar.ics_cta") %></span>
            </div>
          <% end %>
        </div>

        <%= button_to t("events.attendances.cancel.cta"),
          event_attendance_path(@event, attendance),
          method: :delete, data: {
            turbo_confirm: t("events.attendances.cancel.confirm")
          },
          class: "rounded-full text-xl my-5 py-2 px-3 bg-red-100 dark:bg-slate-100 text-slate-500 dark:text-slate-500"
        %>

      <% else %>
        <%= button_to t("events.attendances.create.cta"),
          event_attendances_path(@event),
          method: :post,
          class: "rounded-full text-xl my-5 py-2 px-3 bg-slate-100 dark:bg-slate-500 text-slate-500 dark:text-slate-100"
        %>
      <% end %>
    </div>
  </div>

  <% if authenticated? && @event.creator == Current.user %>
    <div class="flex flex-row gap-2 hotwire-native:hidden" data-controller="bridge--menu" data-menu-ios-image="ellipsis.circle" data-menu-android-image="more_vert">
      <%= link_to "Edit this event",
        edit_event_path(@event),
        class: "mt-2 rounded-full py-3 px-5 bg-gray-100 dark:bg-gray-500 text-slate-500 dark:text-slate-100 inline-block font-medium",
        data: {
          bridge__menu_target: "item",
          bridge_title: "Edit Event",
          bridge_ios_image: "pencil",
          bridge_android_image: "edit"
        }
      %>
      <%= button_to "Destroy this event",
        @event,
        method: :delete,
        class: "mt-2 rounded-full py-3 px-5 bg-gray-100 dark:bg-gray-500 text-slate-500 dark:text-slate-100 font-medium",
        data: {
          turbo_confirm: "Are you sure?",
          bridge__menu_target: "item",
          bridge_title: "Delete Event",
          bridge_ios_image: "trash",
          bridge_android_image: "delete"
        } %>
    </div>
  <% end %>
  </div>
</div>
