<section class="max-w-screen-md mx-auto text-center mt-4 md:mt-12 lg:mt-24">

  <div class="mb-5">
    <h1 id="title" title="Fresh.Dating"><span class="text-md md:text-3xl">❤</span><span class="text-md md:text-3xl hidden md:inline">Fresh.Dating</span></h1>
  </div>

  <div class="border bg-white w-fit mx-auto shadow rounded-lg">
    <ul class="hidden text-sm font-medium text-center text-gray-500 rounded-lg divide-x divide-gray-200 shadow-inner sm:flex dark:divide-gray-700 dark:text-gray-400">
      <li class="w-full">
        <%= link_to "Sign up", new_user_registration_path, class: "inline-block p-3 w-full bg-slate-100 text-gray-600 rounded-tl-lg focus:ring-4 focus:ring-blue-300 active focus:outline-none dark:bg-gray-700 dark:text-white  hover:text-gray-700 hover:bg-gray-50 " %>
      </li>
      <li class="w-full">
        <%= link_to "Sign in", new_user_session_path, class: "inline-block p-3 w-full bg-white text-gray-900 rounded-rt-lg" %>
      </li>
    </ul>
    <%= render "shared/flashes" %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), turbo: false) do |f| %>
      <div class="flex flex-col p-10">

        <%= render "devise/shared/error_messages", resource: resource %>

        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Your email", class: "text-slate-600 m-3 placeholder-gray-400" %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "A password", class: "text-slate-600 m-3 placeholder-gray-400" %>

        <div class="actions">
          <%= f.submit "Sign in", class: "px-8 py-2 my-4 text-sm text-white bg-green-500 rounded-full hover:bg-green-600 cursor-pointer" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mt-4">
    <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-xs text-green-400 hover:text-green-500 hover:underline" %>
  </div>
</section>
