<div class="w-full pt-10 pl-10 pr-10 pb-0" data-controller="notification-granter">
  <%= link_to "Enable Notifications", "javascript:void(null)", class: "rounded-lg bg-blue-400 text-white p-3 shadow hidden", data: { "notification-granter-target": "button" } %>
  <div data-notification-granter-target="deniedInstructions" class="hidden">
    <p class="text-gray-500 text-sm hidden" data-notification-granter-target="safari">On Safari you can enable notifications by going to Preferences > Websites > Notifications > Changing Fresh.Dating option to "Allow".</p>
    <p class="text-gray-500 text-sm hidden" data-notification-granter-target="chrome">On Google Chrome you can enable notifications by going to Preferences > Site Settings > Notifications > Click on <svg class="inline w-5 h-5" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z"></path></svg> and choosing "Allow".</p>

    </p>
  </div>
</div>


<div class="w-full">
  <div id="rooms" class="min-w-full">
    <% @rooms.each do |room| %>
      <%= link_to room_path(room), id: dom_id(room), class: "block p-2 m-2 sm:m-4 md:m-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" do %>
        <div class="flex justify-between relative">

          <div class="min-w-fit my-auto grow-0">
            <% room.profiles.where.not(id: current_user.profile.id).map do |profile| %>
              <%= image_tag(profile.images.first.photo.variant(:medium), class: "w-12 h-12 sm:w-24 sm:h-24 md:w-32 md:h-32 border-2 rounded-full", alt: profile.display_name) if profile.images.any? && profile.images.first.photo.present? %>
            <% end %>
          </div>

          <div class="grow text-md md:text-xl lg:text-2xl font-semibold m-0 pl-2">
            <div class="flex flex-col justify-center grow h-full">
              <div> <%= room.profiles.where.not(id: current_user.profile.id).first.display_name %> </div>
              <% if room.messages.unread_by(current_user).count > 0 %>
                <div class="text-sm text-gray-500 flex flex-row mt-2">
                  <div class="inline-flex w-4 h-4 mr-2 text-xs font-bold text-white bg-blue-500 border-2 border-white rounded-full dark:border-gray-900">
                  </div>
                  <div class="text-xs sm:text-sm"><%= t("messages.unread_count", count: room.messages.unread_by(current_user).count) %></div>
                </div>
              <% end %>
            </div>
          </div>

          <div class="">
            <div class="flex flex-col h-full justify-center">
              <svg class="w-4 h-4 sm:w-10 sm:h-10 lg:w-12 lg:h-12 sm:mx-2 md:mx-6 lg:mx-10" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
            </div>
          </div>

        </div>
      <% end %>
    <% end %>
  </div>
</div>
