<div data-controller="room" data-room-unread-url-value="<%= unread_room_path(@room) %>">
  <%= turbo_stream_from @room %>

  <header class="block text-xs sm:text-md md:text-lg font-medium text-center text-gray-300 bg-black w-full fixed">
    <div class="flex flex-wrap justify-between items-center w-full p-2 pl-4 h-18">
      <%= link_to root_url do %>
        <h1 id="title" title="Fresh.Dating"><span class="text-md md:text-3xl">❤</span><span class="text-md md:text-3xl hidden md:inline">Fresh.Dating</span></h1>
      <% end %>
      <%= @room.name %>
    </div>
  </header>
  <main class="flex-1 overflow-y-auto overflow-x-clip w-full my-20" id="messages" data-room-target="messages">
    <%= render @room.messages %>
  </main>
  <footer class="block shadow p-2 h-20 fixed bottom-0 w-full bg-white">
    <%= render 'messages/new', room: @room %>
  </footer>
</div>
