<% content_for(:title, room_title(Current.user, @room)) %>

<div data-controller="bridge--menu" data-menu-image="ellipsis" class="hidden">
  <%= link_to "Leave this room", room_path(@room), method: :delete,
    data: {
      turbo_confirm: "Are you sure you want to block this conversation?",
      turbo_method: :delete,
      bridge__menu_target: "item",
      bridge_title: "Block room",
      bridge_ios_image: "exclamationmark.octagon"
    }
  %>

  <% @room.users.reject { it == Current.user }.each do |user| %>
    <%= link_to "View #{user.profile.display_name}'s profile", profile_path(user.profile),
      data: {
        bridge__menu_target: "item",
        bridge_title: "View #{user.profile.display_name}'s profile",
        bridge_ios_image: "person.crop.circle"
      } %>
  <% end %>
</div>

<%= turbo_stream_from @room %>

<div class="flex flex-col h-screen" data-controller="room scroll-loader">

  <div class="flex-1 p-2 flex flex-col-reverse" data-room-target="messages">
    <%= turbo_frame_tag "messages" do %>
      <% @messages.each do |message| %>
        <%= render partial: 'messages/message', locals: { message: message, repress_scroll: false } %>
      <% end %>
    <% end %>

    <%= render partial: 'rooms/request_more', locals: { room: @room, messages: @messages } %>
  </div>

  <div class="sticky bottom-0 w-full">
    <%= render 'messages/new', room: @room %>
  </div>
</div>
