<% content_for(:title, room_title(Current.user, @room)) %>

<%= turbo_stream_from @room %>

<div class="flex flex-col h-screen" data-controller="room scroll-loader">

  <div class="flex-1 p-2 flex flex-col-reverse" data-room-target="messages">
    <%= turbo_frame_tag "messages" do %>
      <% @messages.each do |message| %>
        <%= render partial: 'messages/message', locals: { message: message, repress_scroll: false } %>
      <% end %>
    <% end %>

    <%= render partial: 'rooms/request_more', locals: { room: @room, messages: @messages } %>
  </div>

  <div class="sticky bottom-0 w-full">
    <%= render 'messages/new', room: @room %>
  </div>
</div>
