<% if card = @profile.cards.find { |card| card.kind.to_sym == kind.to_sym } %>
  <%= turbo_frame_tag "#{kind}_card" do %>

    <div class="m-2 mb-4">
      <%= link_to edit_card_path(card), class: "" do %>
        <div class="rounded bg-slate-100 dark:bg-gray-700 border border-slate-200 dark:border-gray-600 w-full">
          <div class="flex flex-row border-b border-white dark:border-gray-600">
            <div class="grow p-2">
              <div class="text-xl font-bold uppercase text-gray-400"><%= t("cards.kinds.#{kind}") %></div>
              <div class="grow text-xl font-bold"><%= t(card.title) %></div>
            </div>
            <div class="shrink flex items-center pr-4">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"> <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" /> </svg>
            </div>
          </div>
          <p class="text-gray-700 dark:text-gray-200 text-lg p-2 w-full"><%= card.content %></p>
        </div>
      <% end %>
    </div>

  <% end %>

<% else %>

  <% if authenticated? && Current.user.profile == @profile %>

    <%= turbo_frame_tag "#{kind}_card" do %>

      <div class="m-2 my-8">
        <%= link_to new_card_path(kind: kind), method: :get, format: :turbo_stream, class: "" do %>
          <div class="rounded bg-slate-100 dark:bg-gray-700 border border-slate-200 dark:border-gray-600 w-full">
            <div class="flex flex-row">
              <div class="grow p-2">
                <div class="text-xl font-bold"><%= t("cards.add_card", kind: t("cards.kinds.#{kind}")) %></div>
              </div>
              <div class="shrink flex items-center pr-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"> <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" /> </svg>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    <% end %>

  <% end %>

<% end %>
