<%= form_with(model: @card, class: "contents", data: { controller: 'card' }) do |form| %>
  <%= form.hidden_field :kind, data: { card_target: 'kind' } %>

  <div class="block max-w bg-white border-gray-200 rounded-md shadow-md ">
    <h2 class="inline uppercase text-gray-500 text-sm"><%= t(card.kind) %></h2>
    <%= form.select(:title, cards_select_options(card.kind), {}, class: "block w-full border rounded-t-md pl-4 bg-black text-lg leading-5 font-semibold text-white dark:text-white", data: { card_target: 'title' }) %>

    <% if @card.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

        <ul>
          <% @card.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="p-4">
      <%= form.text_area :content, rows: 6, placeholder: t(:write_something), data: { card_target: 'content' }, class: "block w-full px-0 text-md text-gray-800 bg-white border-0 border-transparent focus:border-transparent focus:ring-0 dark:bg-gray-800 focus:bg-gray-100 focus:ring-0 dark:text-white dark:placeholder-gray-400" %>
    </div>

    <div class="p-4 text-right">
     <%= form.submit class: "text-xs rounded-md py-1 px-2 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  </div>
<% end %>
