<%= turbo_frame_tag "images_form" do %>
  <%= form_with(model: Image.new, url: [@profile, Image.new], class: "contents") do |form| %>
    <% if @image&.errors&.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

        <ul>
          <% @image.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="large_size">
      <div class="m-2">Upload photos</div>
      <%= form.file_field :photo, multiple: true, onchange: "this.form.querySelector('[type=submit]').click()", class: "block w-full text-lg text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" %>
    </label>

    <div class="inline hidden">
      <%= form.submit "Upload", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
<% end %>
