<%= turbo_frame_tag "images" do %>
  <div data-controller="sortable" data-url="<%= sort_profile_images_path(Current.user.profile) %>" class="mt-4 grid grid-flow-rows grid-cols-3 gap-2">
    <% @images.each do |image| %>
      <% next if image == "" || !image.photo.attached? %>
      <div id="<%= dom_id image %>" class="draggable">
        <%= button_to profile_image_path(@profile.id, image), method: :delete, data: { turbo_confirm: "Do you want to remove this photo?" } do %>
          <%= image_tag image.photo.variant(:standard), class: "rounded-lg" %>
        <% end %>
      </div>
    <% end %>
    <%= render 'images/form' %>
  </div>
<% end %>
