<%= turbo_frame_tag "images" do %>
  <% if @images.count > 1 %>
    <div class="border shadow bg-gray-50 rounded-lg p-4 flex mb-10 flex-row items-stretch">
      <div class="self-center mr-4">
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
      </div>
      <div><%= t('images_dragging_instructions') %></div>
    </div>
  <% end %>

  <ul data-controller="sortable" data-url="<%= sort_profile_images_path(current_user.profile) %>" class="space-y-3 list-inside text-gray-500 dark:text-gray-400">
    <% @images.each do |image| %>
      <% next if image == "" || !image.photo.attached? %>
      <li id="<%= dom_id image %>" class="flex w-full items-center draggable  gap-4">
          <div class="cursor-grab handle">
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
          </div>
          <div class="flex-grow justify-self-center">
            <%= image_tag image.photo.variant(:thumb), class: "rounded-lg" %>
          </div>
          <div class="justify-self-right">
            <%= button_to "ðŸ—‘ï¸", profile_image_path(@profile.id, image), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "delete_button", style: "display: none;" %>
          </div>
      </li>
    <% end %>
  </ul>
<% end %>
