<div id="images" data-controller="sortable" data-url="<%= sort_profile_images_path(current_user.profile) %>">
  <% @images.each do |image| %>
    <% next if image == "" || !image.photo.attached? %>

    <div id="<%= dom_id image %>" class="my-10 rounded-md draggable inline-flex">
      <%= image_tag image.photo.variant(:thumb), class: "max-w-xs h-auto rounded-lg" %>
      <%= button_to "ðŸ—‘ï¸", profile_image_path(@profile.id, image), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "delete_button" %>
    </div>
  <% end %>
</div>

<div id="add_images" class="my-10">
  <h2>Add photos</h2>
  <%= render "form", image: @image %>
</div>
