<title><%= hotwire_native_title(content_for(:title)) %></title>
<%= favicon_link_tag asset_path('favicon.ico') %>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= action_cable_meta_tag %>

<%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

<%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

<script>
document.documentElement.classList.toggle(
  "dark",
  localStorage.theme === "dark" ||
    (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches),
);
</script>
