<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/header' %>
  </head>

  <body class="text-slate-700" data-user-id="<%= authenticated? ? Current.user.id : -1 %>" <%= hotwire_native? ? "data-hotwire-native=true" : "" %>>
      <%= render "shared/nav" unless hotwire_native?%>

      <main class="hotwire-native:m-0">
        <%= render "shared/flashes" %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
