<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/header' %>
  </head>

  <body class="text-slate-700" data-user-id="<%= authenticated? ? Current.user.id : -1 %>">
      <%= render "shared/nav" %>

      <main class="m-4">
        <%= render "shared/flashes" %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
