<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/header' %>
  </head>

  <body
    class="text-slate-700 mb-0 pb-0 select-none overflow-x-hidden max-w-full"
    data-user-id="<%= authenticated? ? Current.user.id : -1 %>"
    data-controller="bridge--vibrator"
    <%= hotwire_native? ? 'data-hotwire-native=true' : '' %>
  >
    <div>
      <%= render "shared/nav" unless hotwire_native? %>

      <%= turbo_stream_from Current.user if authenticated? %>

      <main class="hotwire-native:m-0" <%= hotwire_native? || true ? 'data-controller="bridge--vibrate"' : '' %>>
        <%= render "shared/flashes" %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
