<!DOCTYPE html>
<html>
  <head>
    <title>Fresh - Honest dating</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-gray-100 text-slate-700">
    <main class="container mx-auto mt-28 px-5">
      <div class="mx-auto md:w-3/4 w-full flex">
        <%= render "shared/topbar" %>
      </div>

      <%= render "shared/flashes" %>

      <div class="mx-auto md:w-3/4 w-full flex">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
