<!DOCTYPE html>
<html>
  <head>
    <title>Fresh - Honest dating</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="text-slate-700">
    <main class="container mx-auto px-10 my-10">
        <%= render "shared/flashes" %>
        <%= render "shared/nav" %>

        <%= yield %>
    </main>
  </body>
</html>
