<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/header' %>
  </head>

  <body class="text-slate-700" data-user-id="<%= authenticated? ? Current.user.id : -1 %>" <%= hotwire_native? ? "data-hotwire-native=true" : "" %>>

  <div class="hidden hotwire-native:block hotwire-native:bg-green-300">
    This is visible only when `data-hotwire-native` is present.
  </div>
  <div class="hidden not-hotwire-native:block not-hotwire-native:bg-green-300">
    This is visible only when `data-hotwire-native` is **not** present.
  </div>

      <%= render "shared/nav" unless hotwire_native?%>

      <main class="m-4">
        <%= render "shared/flashes" %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
