<!DOCTYPE html>
<html>
  <head>
    <title>Fresh - Honest dating</title>
    <%= render 'layouts/header' %>
  </head>

  <body class="text-slate-700 bg-slate-50" data-user-id="<%= user_signed_in? ? current_user.id : -1 %>">

    <div class="flex flex-col">
      <%= render "shared/flashes" %>

      <main class="w-full p-0 m-0">
        <%= render "shared/nav" %>
        <%= yield %>
      </main>

    </div>

  </body>
</html>
